<footer class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex">
                    <img src="" alt="ضامن">
                    <img src="" alt="ضامن">
                </div>
                <p>لويريم اسابم كنبكنليب لميبنكل نل لطبيكل بسيب سبسي ب بسيب س لسيلةبسمي  نمين قنثصخ ة قة تقخصث قخصثخقح قثحص لوبيظل</p>
            </div>
            <div class="col-4 d-flex flex-column">
                <h5 class="heading">الرئيسية</h5>
                <a href="">من نحن ؟</a>
                <a href="">اتصل بنا</a>
                <a href="">دليل المستخدم</a>
            </div>
            <div class="col-4 d-flex flex-column" >
                <h5 class="heading">تواصل معانا عبر قنواتنا المتاحه علي السوشيال ميديا</h5>
                <div class="d-flex">
                    fontawsome
                </div>
                <div class="d-flex">
                    phone
                    <p>+215487879797</p>
                </div>
                <div class="d-flex">
                    email
                    <p> Domain@gmail.com </p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <a href="">الشروط والاحكام</a>
            <a href="">سياسية الخصوصية</a>
            <div class="flex-grow-1"></div>
            <p>&copy;2022 جميع الحقوق محفوظة لدي ضامن</p>
        </div>
    </div>
</footer>