<section class="banner">
    <div class="banner__content d-flex flex-column justify-content-center align-items-center container">
        <h1 class="banner__heading">ضامن تحافظ علي أموالك وتحفظ حقوقك كمالك ومستأجر ووسيط</h1>
        <p class="banner__subheading">سجل الأن وادفع ضمانك او انشا عقد جديد</p>
        <div class="cards d-flex flex-column flex-lg-row justify-content-center align-items-center">
            <div class="card col-lg-3">
                <div class="d-flex">
                    a
                    <p>توثيق عقد</p>
                </div>
                <p>لوريم ينميبنمسي ةسبة سبمسيحمبح و كسيبمس بيسمب سبنس بسيحب نبسينب ن ةمبسيةسي مسبةمس ةبطسيبك </p>
                <button>توثيق عقد</button>
            </div>
            <div class="card col-lg-3 mx-lg-3 my-3">
                <div class="d-flex">
                    a
                    <p>توثيق عقد</p>
                </div>
                <p>لوريم ينميبنمسي ةسبة سبمسيحمبح و كسيبمس بيسمب سبنس بسيحب نبسينب ن ةمبسيةسي مسبةمس ةبطسيبك </p>
                <button>تحرير محضر استلام</button>
            </div>
            <div class="card col-lg-3">
                <div class="d-flex">
                    a
                    <p>توثيق عقد</p>
                </div>
                <p>لوريم ينميبنمسي ةسبة سبمسيحمبح و كسيبمس بيسمب سبنس بسيحب نبسينب ن ةمبسيةسي مسبةمس ةبطسيبك </p>
                <button>دفع الضمان</button>
            </div>
        </div>
    </div>
</section>