.sign__up{
    direction: rtl;
    .user__data{
        position:relative;
        label{
          position:absolute;
          top:50%;
          right:5px;
          padding:0px 10px;
          transform:translateY(-50%);
          transition:all .35s ease-in-out;
        }
        .id__data{
          padding:10px 20px;
          &:focus + label,&:active +label{
           color: red;
          }
        }
        .active+label{
          top:0;
          transition:all .35s ease-in-out;
          z-index:99;
          background:white;
        }
        .valid__field{
          border: 2px solid green;
        }
        .icon__field{
          position: absolute;
          left: 1rem;
          transform: translateY(50%);
        }
        .pass{
          cursor: pointer;
        }
      }
}