<section class="events my-5">
    <div class="container">
        <div class="d-flex justify-content-center">
            <p class="event__head mx-3">أحداث</p>
            <a href="">اكتشف المزيد</a>
        </div>
        <div class="row">
            <div class="card col-lg-4 d-flex flex-row">
                <img src="" alt="event">
                <div class="d-flex flex-column">
                    <h5 class="card__heading">عنوان الحدث</h5>
                    <p>ريد
                        أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                        أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولا</p>
                    <a href="">اكتشف المزيد</a>
                </div>
            </div>
            <div class="card col-lg-4 d-flex flex-row">
                <img src="" alt="event">
                <div class="d-flex flex-column">
                    <h5 class="card__heading">عنوان الحدث</h5>
                    <p>ريد
                        أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                        أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولا</p>
                    <a href="">اكتشف المزيد</a>
                </div>
            </div>
            <div class="card col-lg-4 d-flex flex-row">
                <img src="" alt="event">
                <div class="d-flex flex-column">
                    <h5 class="card__heading">عنوان الحدث</h5>
                    <p>ريد
                        أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                        أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولا</p>
                    <a href="">اكتشف المزيد</a>
                </div>
            </div>
            <div class="card col-lg-4 d-flex flex-row">
                <img src="" alt="event">
                <div class="d-flex flex-column">
                    <h5 class="card__heading">عنوان الحدث</h5>
                    <p>ريد
                        أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                        أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولا</p>
                    <a href="">اكتشف المزيد</a>
                </div>
            </div>
            <div class="card col-lg-4 d-flex flex-row">
                <img src="" alt="event">
                <div class="d-flex flex-column">
                    <h5 class="card__heading">عنوان الحدث</h5>
                    <p>ريد
                        أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                        أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولا</p>
                    <a href="">اكتشف المزيد</a>
                </div>
            </div>
            <div class="card col-lg-4 d-flex flex-row">
                <img src="" alt="event">
                <div class="d-flex flex-column">
                    <h5 class="card__heading">عنوان الحدث</h5>
                    <p>ريد
                        أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات . ديواس
                        أيوتي أريري دولار إن ريبريهينديرأيت فوليوبتاتي فيلايت أيسسي كايلليوم دولا</p>
                    <a href="">اكتشف المزيد</a>
                </div>
            </div>
        </div>
    </div>
</section>